# This workflow demonstrates how to run ORT's Analyzer.
# Afterwards, the analyzer-result.json is imported into Workbench.

name: Test Import-DA with ORT 

on: 
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '.github/workflows/**'

jobs:
  workbench-scan-gate:
    runs-on: ubuntu-latest

    steps: 
    - name: Checkout the Code
      uses: actions/checkout@v4

    - name: Run ORT Analyzer
      uses: oss-review-toolkit/ort-ci-github-action@v1
      with:
        allow-dynamic-versions: 'true'
        run: >
          analyzer

    - name: Confirm the Analyzer JSON was created # Optional but informative
      run: ls -la /home/runner/.ort/ort-results

    - name: Import DA Results
      run: |
        docker run --rm \
        -v /home/runner/.ort/ort-results:/ort-results \
        ghcr.io/fossid-ab/workbench-agent-ce:latest \
        import-da \
        --api-url ${{ secrets.WORKBENCH_URL }} \
        --api-user ${{ secrets.WORKBENCH_USER }} \
        --api-token ${{ secrets.WORKBENCH_TOKEN }} \
        --project-name DogFood-$GITHUB_REPOSITORY \
        --scan-name ImportDA-$GITHUB_REF_NAME \
        --path /ort-results/analyzer-result.json